/* styling for page body */
body {
	background-color: snow;
	background-image: url('desert.jpeg');
	background-repeat: no-repeat;
	background-size: cover;
	}
/* styling for page heading 1 */
h1 {
	text-align: left;
	color: White;
	}
/* styling for page heading 2 */
h2 {
	color: salmon;
	}
/* styling for paragraph */
p {
	color: azure;
	font-size: 15px;
	}
/* styling for table border */
table, td, th {
	border: 1px solid khaki;
	}
/* styling for table caption */
caption {
	color: tomato;
	font-size: 25px;
	}
/* styling for table data */
td {
	color: snow;
	padding: 15px;
	text-align: center;
	}
/* styling for table header */
th {
	color: lime;
	padding: 15px;
	}
/* styling for anchor tag example1 */
a.eg1:link {
	color: skyblue;
	background-color: transparent;
	text-decoration: none;
	font-size: 20px;
	}
a.eg1:visited {
	color: magenta;
	background-color: transparent;
	text-decoration: none;
	font-size: 20px;
	}
a.eg1:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
	font-size: 20px;
	}
a.eg1:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
	font-size: 20px;
	}
/* styling for unordered list */
ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
   overflow: hidden;
}
/* styling for list items */
li	{
	display: inline;
	color: white;
	font-align: left;
	padding-right: 10px;
	}
/* styling for span tag example */
span.eg1{	
	background-color: black;
}
/* styling for Iframe tag example */
iframe.eg1{
	position: fixed;
	top: 10px;
	left: 600px;
	height: 500px;
	width: 500px;
}